<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang = "en" dir="ltr">
        <meta name="author" content ="Esther Hong">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title class="custom1">my scripting notebook</title>
        <link href="../styles.css" rel="stylesheet">
    </head>


    <body>
        <header>
            <p>my scripting notebook &star;</p>
            <div id="htmlcssbuttons"><button href="pages/html.html" type="button">html</button>
            <button href="pages/css.html" type="button">css</button></div>
        </header>
        <main>
            <p> hey, glad u made it. it's pretty chill vibes here.</p>
            <div class="bottomright">
                <img src="../media/pixelsmoker.png" width=10% height=10% alt="pixelated smoker">
            </div>
        </main>

        <footer>
            <button href="../index.html" type="button">back</button></div>
            <ul id="footer-items">
                <p>2022 esthersujihong</p>
            </ul>
        </footer>


    </body>
</html>