<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" lang = "en" dir="ltr">
        <meta name="author" content ="Esther Hong">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title class="custom1">my scripting notebook</title>
        <link href="styles.css" rel="stylesheet">

        <style>
            a.one:link {color:#ff0000;}
            a.one:visited {color:#0000ff;}
            a.one:hover {color:#ffcc00;}
        </style>
    </head>

    <body>
        <header>
            <p>my scripting notebook &star;</p>
            <div id="htmlcssbuttons"><button href="pages/html.html" type="button">html</button>
            <button href="pages/css.html" type="button">css</button></div>
        </header>
        <main>
            <!--start with the basics of text and formatting-->
            <div class="hflex_container">
                <div><h1>h1</h1></div>
                <div><h2>h2</h2></div>
                <div><h3>h3</h3></div>
                <div><h4>.</h4></div>
                <div><h5>.</h5></div>
                <div><h6>.</h6></div>
                <div><h6>h6</h6></div>
                <div><p>p</p></div>
            </div>
            <b>bold</b> <strong>strong</strong> <i>italic</i> <em>emphasized</em>
            <mark>marked</mark> <small>smaller</small> <del>deleted</del> <ins>insterted</ins>
            <sub>subscript</sub> <sup>superscript</sup>
            
            <p>watch me flex on this <i>inline</i> yeahhhhh</p>
            <p class="custom1">woh thats pretty cool but check out this custom class attribute&nbsp;&nbsp;<sup>ok bruh whatever</sup>
            <p>if i want to write in a different language, I should change the lang attribute for accessibility
                purposes, <span lang="ko">왜냐하면</span> it's important for your writing to be recognized by browsers
                and search engines.
            </p>
            <p>
                <a href="pages/firstlink.html">links are like portals</a>. personally, i think
                an uncustomized is kind of ugly. so sometimes, i like to <a class="one" href="pages/firstlink.html">switch it up</a>. 
            </p>
            




        </main>

        <footer>
            <ul id="footer-items">
                <p>2022 esthersujihong</p>
            </ul>
        </footer>


    </body>
</html>