*{
    font-family: Helvetica, sans-serif;
}
.custom1{
    font-size: 20px;
    font-weight:300;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#htmlcssbuttons{
    float:right;
    margin: 2em;
}

.hflex_container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bottomright{
    position:absolute;
    float:right;
    bottom: 10%;
}

footer {
    position:absolute;
    bottom:10%;
    height:30px;
    width:100%;
}

