
/* notes: spend some time making comments on how Flexbox and Grid are working here and
personalize this portfolio page using google fonts, different colors, different hover and active styling, maybe a different layout or viewport response*/
*{
    box-sizing: border-box;
    margin: 0 auto;
}

a:visited {
    color:deeppink;
}
body{
    background-image:linear-gradient(white, rgb(221, 246, 185));
    font-family: 'IBM Plex Mono Medium', 'Helvetica', sans-serif; /*body font*/
}

header, footer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    /* background-color: rgb(82, 99, 69);  play with a color scheme! */
}

main {
    border: 1px, solid, black;
}

nav {
    width: 960px;
    height: 100px;
}

img{
    object-fit: cover;
}

#nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 20px;
}

#nav-links li{
    padding: 1em; /* what does em mean?*/
}

#projects-grid{
    display: grid;
    max-width: 1200px; /*i expanded the wdith of the main grid for a cleaner display of info*/
    grid-template-columns: 1fr 1fr; /* what does fr mean?*/
    grid-template-rows: auto;
    grid-column-gap: 50px; /*grids are separated wider to bring more space into site*/
    grid-row-gap: 100px; 
    /* background: rgba(102, 119, 59, 0.5);  play with color*/
    
}

#page_title{
    color:deeppink;
    font-family: 'Silkscreen', 'Gemunu Libre', 'Helvetica', 'Inter Tight', sans-serif; /*special font for title*/
    text-align: left; /*moved page title to left*/
    max-width: 100%;
    padding: 40px 0px;
}

.project_item {
    display: grid;  /* we have a grid inside a grid here, with each item as its own grid*/
    grid-template-columns: 1fr 1fr; /*equaled the spacing between image and text*/
    grid-template-rows: 2fr 1fr 4fr;
    grid-template-areas:
    "image number"
    "image title"
    "image description";
    grid-column-gap: 15px;
    align-items: center;
    padding-right: 10%;
    border: 2px dashed deeppink; /*dashedborder*/
}

.project_image { 
    grid-area: image; 
}
.project_number { 
    grid-area: number; 
}
.project_title { 
    grid-area: title;
}
.project-description { 
    grid-area: description; 
}

#footer-items{
    display: flex;
    box-sizing: border-box;
    list-style-type: none;
    width: 960px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /*border-top: 1px solid black;*//* again, play with this styling*/
    margin-top: 10rem;

}

@media only screen and (min-width: 601px) and (max-width: 850px){ /* what is going on here?*/
    #projects-grid{
    grid-template-columns: 1fr 1fr;
    }
    
    #page_title{
        grid-column: 1/3;
    }
}

@media only screen and (max-width: 600px){
    #projects-grid{
    grid-template-columns: 1fr;
    }
    
    #page_title{
        grid-column: 1/2;
    }
}
